<div class="menu-holder">
  <a href="aluno"><div class="menu-item">Dados Aluno</div></a>
  <a href="relatorio"><div class="menu-item">Relatório</div></a>
  <a href=""><div class="menu-item">Site</div></a>
  <a href=""><div class="menu-item">Contatos</div></a>
</div>

{{#each alunos}}

<div class="card">
  <h2 style="text-align: center;">Dados do Aluno</h2><br>
  
  <form action="" method="POST">

    <label id="icon"><i class="fa fa-user"></i>  Nome do Aluno: </label>
    <input type="text" name="nome_aluno" value="{{nome_aluno}}"><br><br></input>
    
    <label id="icon"><i class="fa fa-numberic"></i>  Idade:</label>
    <input type="number" name="idade_aluno" value="{{idade_aluno}}"><br><br>

    <label id="icon"><i class="fa fa-envelope"></i>  Email:</label>
    <input type="text" name="email_aluno" value="{{email_aluno}}"><br><br>

    <label id="icon"><i class="fa fa-solid fa-key"></i>  Senha:</label>
    <input type="password" name="senha_aluno" value="{{senha_aluno}}"><br><br>

    <label id="icon"><i class=" fa fa-user-tie"></i>  Nome do Responsável:</label>
    <input type="text" name="responsavel_aluno" value="{{responsavel_aluno}}"><br><br>

    <label id="icon"><i class=" fa fa-user-tie-hair"></i>  Nome do Cuidador:</label>
    <input type="text" name="cuidador_aluno" value="{{cuidador_aluno}}"><br><br>

    <label id="icon"><i class=" fa-light fa-user-nurse"></i>  Nome do Psicólogo:</label>
    <input type="text" name="psicologo_aluno" value="{{psicologo_aluno}}"><br><br>

    
    <div class = "btn">
    <input type="submit" value="Atualizar Cadastro do Aluno">
    </div>
    
</input>
</div>
{{/each}}
