
<div class="menu-holder">
  <a href="#"><div class="menu-item">Dados Aluno</div></a>
  <a href="relatorio"><div class="menu-item">Relatório</div></a>
  <a href="cuidador" target="_blank"><div class="menu-item">Cuidador</div></a>
  <a href="pais" target="_blank"><div class="menu-item">Pais</div></a>
  <a href="sobre" target="_blank"><div class="menu-item">Sobre</div></a>
  <a href="/"><div class="menu-item">Sair</div></a>
</div>

{{#each lista}}

<div class="card">
  <h2 style="text-align: center;">Dados do Aluno</h2><br>
  
  <form action="update-aluno" method="POST">

    <input type="hidden" name="id_aluno" value="{{id_aluno}}"><br><br></input>

    <label id="icon"><i class="fa fa-user"></i>  Nome do Aluno: </label>
    <input type="text" name="nome_aluno" value="{{nome_aluno}}"><br><br></input> 

    <label id="icon"><i class="fa fa-numberic"></i>  idade aluno:</label>
    <input type="text" name="idade_aluno" value="{{idade_aluno}}"><br><br>

    <label id="icon"><i class="fa fa-envelope"></i>  Email:</label>
    <input type="text" name="email_aluno" value="{{email_aluno}}"><br><br>

    <label id="icon"><i class="fa fa-solid fa-key"></i>  Senha:</label>
    <input type="password" name="senha_aluno" value="{{senha_aluno}}"><br><br>

    <label id="icon"><i class=" fa fa-user-tie"></i>  Nome do Responsável:</label>
    <input type="text" name="responsavel_aluno" value="{{responsavel_aluno}}"><br><br>

    <label id="icon"><i class=" fa fa-user-tie-hair"></i>  Nome do Cuidador:</label>
    <input type="text" name="cuidador_aluno" value="{{cuidador_aluno}}"><br><br>

    <label id="icon"><i class=" fa-light fa-user-nurse"></i>  Nome do Psicólogo:</label>
    <input type="text" name="psicologo_aluno" value="{{psicologo_aluno}}"><br><br>

    
    <div class = "btn">
    <input name="atualizar" type="submit" value="Atualizar Cadastro do Aluno">
    <input name="deletar" type="submit" value="Deletar Aluno">
    </div>
    
</input>
</div>
{{/each}}
